.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  flex: 1;
  padding: 0 15px;
}

/* 콘텐츠 스타일 */
.header {
  height: 100px;
  background-color: blue;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  height: auto;
  background-color: #f8f9fa;
}

.main {
  height: auto;
  background-color: #fff;
}

.footer {
  height: 100px;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 미디어 쿼리 */
@media screen and (max-width: 768px) {
  .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.no-number {
  list-style-type: none;
}

/* 화이트 모드 */
.white body {
  background-color: #ffffff;
  color: #000000;
}

.white .header {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

.white .sidebar {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 10px;
}

.white .main {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

/* 블랙 모드 */
.black body {
  background-color: #000000;
  color: #ffffff;
}

.black .header {
  background-color: #333333;
  border: 1px solid #000;
  margin-bottom: 10px;
  padding: 10px;
}

.black .sidebar {
  background-color: #333333;
  border: 1px solid #000;
  padding: 10px;
}

.black .main {
  background-color: #333333;
  border: 1px solid #000;
  margin-bottom: 10px;
  padding: 10px;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#target {
  height: 100%;
}

.white {
  background-color: white;
  color: black;
}

.black {
  background-color: black;
  color: white;
}

.no-number li {
  font-size: 1.2em;
}